header.background {
    background: linear-gradient(to bottom, #e6ac00, #ffc61a, #ffc61a, #e6ac00);
    color: white;
    font-size: 22px;
    padding: 10px;
    line-height: 0.7;
}

a:hover {
    color: red;
}