<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fat Store</title>
    <link href="layout/styling.css" rel="stylesheet">
    <link href="general-styling.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="google-font-api">
</head>

<!-- Footer -->
<footer>
    <div id="footer-container">
        <h2 class="no-margin-h2">Fat Store, Inc.</h2>
        <address id="footer-address">
            Tel: 0111 222 333 <br>
            Email: Fatstore@gmail.com <br>
            Address: 123 Not Real Street, California I think, USB
        </address>
        <!-- <nav id="footer-link-nav">
            <ul>
                <li><a href="home/index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about-us.html">About us</a></li>
            </ul>
        </nav> -->
    </div>
</footer>

</html>
