<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fat Store</title>
    <link rel="stylesheet" href="layout/styling.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
    <div id="header-container">
        <img src="none.png" alt="brand-logo" id="brand-logo">
        <p id="header-brand-name">FAT STORE</p>
        <nav id="header-link-nav">
            <ul>
                <li><a href="home/index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about-us.html">About us</a></li>
            </ul>
        </nav>
    </div>
</header>
</html>
