<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fat Store</title>
    <link href="/assets/css/navbar-style.css" rel="stylesheet">
    <link href="/assets/css/general-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="google-font-api">
</head>

<!-- Footer -->
<footer>
    <div id="footer-container">
        <h2 class="no-margin-h2">Fat Store, Inc.</h2>
        <address id="footer-address">
            Tel: 0111 222 333 <br>
            Email: Fatstore@gmail.com <br>
            Address: 123 Not Real Street, California I think, USB
        </address>
    </div>
</footer>

</html>
