<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fat Store</title>
    <link href="./assets/css/common.css" rel="stylesheet">
    <link href="./assets/css/navbar-style.css" rel="stylesheet">
    <link href="./assets/css/general-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="google-font-api">
</head>

<!-- Header/Navigation bar-->
<header>
    <div id="header-container">
        <img src="./assets/image/the fat store logo.png" alt="brand-logo" id="brand-logo" style="width: 200px;">
        <p id="header-brand-name">THE FAT STORE</p>
        <nav id="header-link-nav">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./cart.html">Cart</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./about-us.html">About us</a></li>
            </ul>
        </nav>
    </div>
</header>

</html>