.title {
    margin-left: 80px;
    margin-top: 20px;
}

.subtitle {
    margin-left: 80px;
}

.remo {
    background-color: #414833;
    color: #FFFFFF;
    min-width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 12px;
}

.product-image {
    size: 20px;
    margin-left: 10px;
}

.shopping-cart {
    margin-left: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 6px;
    
}

.price {
    margin-left: 20px;
}

.item {
    padding: 20px 30px;
    height: 20px;
    display: flex;
}

.total-price {
    text-align: right;
    margin-right: 40px;
    align-self: right;
}

.checkout-btn {
    background-color: #414833;
    
    margin-top: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #FFFFFF;
    align-self: right;
}

.name {
    margin: auto;
    height: 50%;
    margin-left: 20px;
}