@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --light-brown: #635340;
    --background: #EBE3D2;
    --highlight-background: #CCBFA3;
    --dark-brown: #412F26;
    --earth-green: #414833;
}
