/* page styling */
body {
    background-color: var(--background);
    font-family: "Montserrat";
    padding: 0px;
    margin: 0px;
}

/* header styling */
#header-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inherit;

    background-color: var(--highlight-background);
    color: var(--dark-brown);
    text-align: center;
    padding: 75px 250px;
    gap: 30px;
}

#header-box-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: inherit;
    margin-bottom: 50px;

    background-color: inherit;
    color: var(--dark-brown);
    text-align: center;
    padding: 40px 100px;
    gap: 30px;
}



/* cancel defaut margin setting for better spacing */
.no-margin {
    margin: 0px;
}

/* for cropping circular image */
.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* adjust height dynamically */
.square {
    flex: 1;
    aspect-ratio: 3 / 2;
    box-sizing: border-box; /* Includes padding inside the width */
    width: 100%;
    padding: 0px 70px;
    gap: 40px;
      
    position: relative;
    overflow: hidden;
    background-color: var(--light-brown);
    color: var(--background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.square-alt {
    flex: 1;
    aspect-ratio: 3 / 2;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 70px;
    gap: 40px;
      
    background-color: var(--highlight-background);
    color: var(--dark-brown);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Semi-transparent overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.2s ease-in-out;
}

.square:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div */
    position: absolute;
    top: 0;
    left: 0;
}

/* Member card & overlay */
.member-card {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

.member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-brown);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Hidden by default */
    transform: translateX(-100%); /* Start position (above the viewport) */
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.member-card:hover .member-overlay {
    opacity: 0.95; /* Show overlay on hover */
    transform: translateX(0);
}

/* button */
.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--earth-green);
    color: var(--background);
    width: 120px;

    font-size: 19px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.2s ease-in-out, transform 0.2s;
}

.cta-button:hover {
    background-color: var(--background);
    color: var(--earth-green);
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 800;
}

.cta-button:active {
    transform: scale(0.98);
}

/* For SM icons */
.custom {
    transition: transform 0.2s ease-in-out;
}

.custom:hover {
    transform: scale(1.2);
}