/* Header (navigation bar) styling */
#header-link-nav {
    padding: 10px 0;
}

#header-link-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#header-link-nav a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    color: inherit;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

#header-link-nav a:hover {
    background: #737A5D;
    border-radius: 5px;
    font-weight: 800;
    color: inherit;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    color: #EBE3D2;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 30px;
    background-color: #414833; /* Background only for the header */
}

#footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 30px;
    gap: 20px;
    color: #EBE3D2;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    background-color: #414833; /* Background only for the header */
}

#brand-logo {
    font-weight: 400;
    font-size: 16px;
    color: inherit;
}
