main {
    padding-bottom: 4%;
    color: var(--dark-brown);
    text-align: center;
}

#shop-title {
    text-align: center;
    padding: 5dvh 0;
    font-size: 2.5;
}

#product-section {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    margin: auto;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 6rem;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content inside */
    justify-content: flex-start;
    background-color: var(--highlight-background);
    justify-content: center;
    padding: 5%;
}

.product-hover {
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.add-cart-button {
    background-color: var(--background);
    color: var(--light-brown);
    font-size: 1.75rem;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem;
}

.nutrient-table,
.nutrient-table td,
.nutrient-table th {
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
}

.nutrient-table td,
.nutrient-table th {
    padding: 0.25rem 0.5rem;
}

.nutrient-table {
    font-size: 1.25rem;
}

.add-cart-button:hover {
    background-color: white;
}

.product-hover:hover {
    opacity: 100%
}

.product-image {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.product-name {
    font-weight: 800;
    font-size: x-large;
    margin: 0;
    padding: 1rem;
}

.product-description {
    flex-grow: 1;
    margin: 0;
    font-size: 1.1rem;
}

.product-price {
    font-size: 1.3rem;
    font-weight: 600;
}

#show-more-button {
    background-color: var(--dark-brown);
    color: var(--background);
    font-size: 2em;
    border: none;
    margin: 1.5rem auto 0;
    padding: 0.75em 2em;
}

#show-more-button:hover {
    background-color: var(--highlight-background);
    color: var(--dark-brown);
}